// Variables of Joseph scheme
// =================================================


$whitesmoke   : #f5f5f5;
$gainsboro    : #eee;
$gray-lighter : #ddd;
$grey-light   : #ccc;
$grey         : #bbb;
$grey-dark    : #999;
$grey-dim     : #666;
$black-light  : #555;
$black-dim    : #333;
$black-deep   : #222;
$red          : #ff2a2a;
$blue-bright  : #3366cc;
$blue-light   : $blue-bright;
$blue         : #003399;
$blue-deep    : #333399;
$orange       : #fc6423;

$font-size-headings-base : 26px;

$brand-color                    : $black-deep;
$brand-hover-color              : $brand-color;

$bt2-color                      : white;
$b2t-bg-color                   : $blue;
$link-color                     : $blue;

$site-meta-text-align           : center;

// Posts Collpase
// --------------------------------------------------
$posts-collapse-left            : 55px;
$posts-collapse-left            : 0;
$posts-collapse-left-mobile     : 5px;

$read-more-color                : white;
//$read-more-color                : $link-color;
$read-more-font-size            : 12px;
$read-more-bg-color             : $blue;
//$read-more-bg-color             : transparent;
$read-more-border-radius        : 10px;


$content-desktop                : 80%;
